
.modal{
    position: fixed;
    top: 80px;
    left: 70px;
    z-index: 1000;
    background-color: rgb(0,0,0,0.5);
    width: calc(100% - 70px);
    max-height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-form{
    width: 90%;
    border: 2px solid black;
    background: url("https://cdn.dribbble.com/users/614757/screenshots/2216475/questionmark-dribbble.gif") no-repeat left bottom /cover;
    min-height: calc(100vh - 80px);
    background-color: white;
    font-size: 22px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.add-question{
    width: 70%;
    display: flex;
    flex-direction: column;
    font-size: 25px;
}
.ques-box{
    min-height: 75px;
    max-height: 100px;
    overflow: auto;
    padding: 20px;
    margin: 10px 0px;
    font-size: 21px;
    background-color: black;
    border-radius: 50px;
    color: rgb(255, 200, 100);
}

.add-option{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

#opt1, #opt2, #opt3, #opt4{
   margin: 20px;
   padding: 10px;
   border-radius: 10px;
   background-color: rgb(255, 200, 100);
}

#ans{
    padding: 10px;
    margin: 20px;
    font-size: 21px;
    width: 80%;
    text-align: center;
    background-color: black;
    border-radius: 50px;
    color: rgb(255, 200, 100);
}
.add-ques-btn, .cross{
    padding: 10px;
    border-radius: 100px;
    background-color: black;
    color: rgb(255, 200, 100);
}